<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form  #f="ngForm"(ngSubmit)="registerUser(f)">
  <ion-item lines="full">
    <ion-label position="floating">First Name</ion-label>
    <ion-input ngModel name="Fname" type="text" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Last Name</ion-label>
    <ion-input ngModel name="Lname" type="text" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Email</ion-label>
    <ion-input ngModel name="Email" type="text" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Password</ion-label>
    <ion-input ngModel name="password" type="text" required></ion-input>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/login']" type="submit" color="danger" expand="block">Sign Up</ion-button>
    </ion-col>
  </ion-row>
</form>
</ion-content>
